Repository wsvaio/vue-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

perf: 添加stylelint配置，添加husky配置，添加commitlint配置，添加lintstagedrc配置
  .commitlintrc
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .lintstagedrc.js
  commitlint.config.js
  package-lock.json
  package.json
  src/routes/admin/components/header/index.vue
Due: eslint, stylelint

perf(config): 修改配置
  .stylelintrc
  package.json
Due: none

chore(config): 提交配置修改
  README.md
  package-lock.json
  package.json
  presets/plugins.ts
Due: eslint

build(.czrc): 抽取package的配置出到.czrc
  .czrc
  package.json
  src/routes/admin/components/header/index.vue
Due: eslint, stylelint

feat(layout): 添加了新的admin布局
  .vscode/extensions.json
  index.html
  mock/test.ts
  package-lock.json
  src/assets/svg/test.svg
  src/components/vtable/index.vue
  src/modules/progress/index.ts
  src/modules/styles/index.ts
  src/modules/styles/t.less
  src/modules/styles/theme.less
  src/modules/z-onload/index.ts
  src/routes/_admin/components/aside/index.vue
  src/routes/_admin/components/bread-crumb/index.vue
  src/routes/_admin/components/copyright/index.vue
  src/routes/_admin/components/header/index.vue
  src/routes/_admin/components/main/index.vue
  src/routes/_admin/components/root-nav/index.vue
  src/routes/_admin/components/tab/index.vue
  src/routes/_admin/index.vue
  src/routes/admin/commponents/bread-crumb/index.vue
  src/routes/admin/commponents/fold/index.vue
  src/routes/admin/commponents/logo/index.vue
  src/routes/admin/commponents/main/index.vue
  src/routes/admin/commponents/menu/index.vue
  src/routes/admin/commponents/root-nav/index.vue
  src/routes/admin/commponents/setting/index.vue
  src/routes/admin/commponents/tab/index.vue
  src/routes/admin/index.vue
  src/routes/index.ts
  src/stores/mainStore.ts
  src/views/about/index.vue
  src/views/home/index.vue
  src/views/list/item1/index.vue
  tsconfig.json
Due: eslint, stylelint

style(routes/admin): 略微修改了一些布局样式
  .stylelintignore
  src/modules/setLayout/index.ts
  src/modules/styles/theme.less
  src/routes/___admin/commponents/bread-crumb/index.vue
  src/routes/___admin/commponents/fold/index.vue
  src/routes/___admin/commponents/logo/index.vue
  src/routes/___admin/commponents/main/index.vue
  src/routes/___admin/commponents/menu/index.vue
  src/routes/___admin/commponents/root-nav/index.vue
  src/routes/___admin/commponents/setting/index.vue
  src/routes/___admin/commponents/tab/index.vue
  src/routes/___admin/index.vue
  src/routes/admin/commponents/menu/components/nav/index.vue
  src/routes/admin/commponents/menu/index.vue
  src/stores/mainStore.ts
Due: eslint, stylelint

style(routes/admin): 自己实现menu组件，初步demo实现，待完善
  .stylelintrc
  package-lock.json
  package.json
  src/components/vpopup/index.vue
  src/routes/admin/commponents/menu/components/nav/index copy 2.vue
  src/routes/admin/commponents/menu/components/nav/index copy.vue
  src/routes/admin/commponents/menu/index copy.vue
  src/routes/admin/commponents/menu/index.vue
  src/views/home/index copy 2.vue
  src/views/home/index copy 3.vue
Due: eslint, stylelint

feat(routes/admin): 完善了menu组件
  .npmrc
  .stylelintrc
  package-lock.json
  package.json
  presets/typings/env.d.ts
  src/components/vpopup/index.vue
  src/modules/setLayout/index.ts
  src/modules/styles/scrollbar.css
  src/modules/styles/theme.less
  src/routes/App.vue
  src/routes/admin/commponents/bread-crumb/index.vue
  src/routes/admin/commponents/logo/index.vue
  src/routes/admin/commponents/menu/components/nav/index copy 3.vue
  src/routes/admin/commponents/menu/components/nav/index.vue
  src/routes/admin/commponents/menu/components/popup/index.vue
  src/routes/admin/commponents/menu/index.vue
  src/routes/admin/commponents/setting/index.vue
  src/routes/admin/index.vue
  src/routes/index.ts
  src/stores/mainStore.ts
Due: eslint, stylelint

build: 添加postcss插件postcssPresetEnv配置
  .browserslistrc
  .editorconfig
  .env
  .lintstagedrc
  .stylelintignore
  .stylelintrc
  package-lock.json
  package.json
  presets/plugins.ts
  presets/typings/env.d.ts
  presets/typings/global.d.ts
  presets/typings/global.ts
  presets/typings/router.d.ts
  src/apis/index.ts
  src/components/vdrawer/index.vue
  src/components/vtable/index.vue
  src/modules/router/index.ts
  src/routes/index.ts
  src/stores/mainStore.ts
  src/views/todo/index.vue
  vite.config.ts
Due: eslint, stylelint

feat(notfound): notfound 页面优化
  src/modules/router/index.ts
  src/modules/setLayout/index.ts
  src/modules/styles/index.ts
  src/modules/styles/main.css
  src/modules/styles/scrollbar.css
  src/modules/styles/transition.css
  src/routes/App.vue
  src/routes/___admin/commponents/bread-crumb/index.vue
  src/routes/___admin/commponents/fold/index.vue
  src/routes/___admin/commponents/logo/index.vue
  src/routes/___admin/commponents/main/index.vue
  src/routes/___admin/commponents/menu/index.vue
  src/routes/___admin/commponents/root-nav/index.vue
  src/routes/___admin/commponents/setting/index.vue
  src/routes/___admin/commponents/tab/index.vue
  src/routes/___admin/index.vue
  src/routes/_admin/components/aside/index.vue
  src/routes/_admin/components/bread-crumb/index.vue
  src/routes/_admin/components/copyright/index.vue
  src/routes/_admin/components/header/index.vue
  src/routes/_admin/components/main/index.vue
  src/routes/_admin/components/root-nav/index.vue
  src/routes/_admin/components/tab/index.vue
  src/routes/_admin/index.vue
  src/routes/admin/commponents/fold/index.vue
  src/routes/admin/commponents/logo/index.vue
  src/routes/admin/commponents/main/index.vue
  src/routes/admin/commponents/menu/components/nav/index copy 2.vue
  src/routes/admin/commponents/menu/components/nav/index copy 3.vue
  src/routes/admin/commponents/menu/components/nav/index copy.vue
  src/routes/admin/commponents/menu/components/nav/index.vue
  src/routes/admin/commponents/menu/components/popup/index.vue
  src/routes/admin/commponents/menu/index copy.vue
  src/routes/admin/commponents/menu/index.vue
  src/routes/admin/commponents/setting/index.vue
  src/routes/admin/commponents/tab/index.vue
  src/routes/admin/index.vue
  src/routes/admin/stores/adminLayoutStore.ts
  src/routes/notfound/index.vue
  src/stores/mainStore.ts
Due: eslint, stylelint

refactor(index.html): 添加viewport配置，不允许用户放大缩小
  index.html
Due: none

build: 配置项测试放置package.json中
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  package.json
  src/components/vdialog/index.d.ts
  src/components/vdialog/index.vue
  src/components/vdrawer/index.d.ts
  src/components/vdrawer/index.vue
  src/components/vpopup/index.vue
  src/components/vtable/index.vue
  src/modules/styles/index.ts
  src/modules/styles/main.less
  src/modules/styles/media.css
  src/modules/styles/scrollbar.less
  src/modules/styles/theme.less
  src/modules/vue-request/index.ts
  src/routes/admin/commponents/logo/index.vue
  src/routes/admin/commponents/setting/index.vue
  src/routes/admin/index.vue
  src/routes/index.ts
  src/routes/notfound/index.vue
  src/views/home/index.vue
  src/views/todo/index.vue
Due: eslint, stylelint

build: 移除presets，其中plugin合并到vite.config.ts；typings目录迁移出来
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  package.json
  presets/plugins.ts
  presets/typings/env.d.ts
  presets/typings/global.d.ts
  vite.config.ts
Due: eslint

build: vite插件配置 自动引入api修改
  src/apis/request.ts
  tsconfig.json
  typing/env.d.ts
  typing/global.d.ts
  vite.config.ts
Due: eslint

fix: 依赖wsvaio替换为@wsvaio/api和@wsvaio/util
  .editorconfig
  .env.development
  .gitignore
  .stylelintignore
  package-lock.json
  package.json
  src/apis/request.ts
  src/components/vdialog/index.vue
  src/components/vdrawer/index.vue
  src/components/vtable/index.vue
  src/composables/useXHR.ts
  src/modules/globalProps/index.ts
  src/modules/progress/index.ts
  src/modules/router/index.ts
  src/modules/styles/index.ts
  src/modules/styles/main.less
  src/modules/styles/normalize.css
  src/routes/admin/commponents/setting/index.vue
  src/stores/authStore.ts
  src/utils/EventBus.ts
  src/utils/index.ts
  src/views/home/index copy.vue
  src/views/list/item1/index.vue
  src/views/list/item2/index.vue
  src/views/list/item3/index.vue
  src/views/list/item4/index.vue
  src/views/list/item5/index.vue
  src/views/todo/index.vue
  vite.config.ts
Due: eslint, stylelint

fix: 重写admin布局的menu组件
  .eslintrc
  .npmrc
  package-lock.json
  package.json
  src/components/vpopup/index.vue
  src/modules/custom-element/index.ts
  src/modules/router/index.ts
  src/modules/styles/theme.less
  src/routes/App.vue
  src/routes/admin/commponents/bread-crumb/index.vue
  src/routes/admin/commponents/fold/index.vue
  src/routes/admin/commponents/logo/index.vue
  src/routes/admin/commponents/main/index.vue
  src/routes/admin/commponents/menu/components/nav/index.vue
  src/routes/admin/commponents/menu/components/popup/index.vue
  src/routes/admin/commponents/menu/components/vnav/index.vue
  src/routes/admin/commponents/menu/index.vue
  src/routes/admin/commponents/setting/index.vue
  src/routes/admin/commponents/tab/index.vue
  src/routes/admin/index.vue
  src/routes/admin/store/index.ts
  src/routes/index.ts
  src/stores/adminStore.ts
  src/views/about/MyComponent.tsx
  src/views/about/index.vue
  src/views/home/index.vue
  src/views/todo/index.vue
  tsconfig.json
  typing/global.d.ts
  vite.config.ts
Due: eslint, stylelint

fix: 检查修改几个内置的component，确保其正常运行，逻辑略微优化
  .eslintrc
  .stylelintrc
  .vscode/extensions.json
  mock/test.ts
  src/components/vdialog/index.d.ts
  src/components/vdialog/index.vue
  src/components/vdrawer/index.d.ts
  src/components/vdrawer/index.vue
  src/components/vtable/index.d.ts
  src/components/vtable/index.vue
  src/composables/useIsActivated.ts
  src/composables/useXHR.ts
  src/modules/styles/scrollbar.less
  src/routes/admin/commponents/setting/index.vue
  src/utils/index.ts
  src/views/home/index.vue
  src/views/todo/index.vue
Due: eslint, stylelint

fix: eslint配置
  .eslintrc
Due: none

chore(release): 0.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: 添加standard-version生成changelog
  .czrc
  .versionrc.json
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint: any of: *.{ts,vue}
  stylelint: any of: *.{vue,css,less}
